# [苦しみながら覚えるPandas入門[Part1]](https://qiita.com/papi_tokei/items/c0bd335c9c30065c7604)

In [1]:
import pandas as pd
import numpy as np

## Series

### Seriesの作成 辞書指定

In [2]:
sr = pd.Series({
    'taro':'kyoto',
    'jiro':'osaka',
    'saburo':'nara'
})
print(sr.head())

taro      kyoto
jiro      osaka
saburo     nara
dtype: object

### Seriesの作成(配列指定)

In [3]:
sr = pd.Series(
    ['kyoto', 'osaka', 'nara'],
    index = ['taro', 'jiro', 'saburo']
)
print(sr.head())

taro      kyoto
jiro      osaka
saburo     nara
dtype: object

## DataFrame

### DataFrame作成(列)

In [4]:
data = {
    'name':['taro', 'jiro', 'saburo'],
    'address':['kyoto', 'osaka', 'nara'],
    'birth':['2020-01-01T12:00:00', '2020-02-11T12:00:00', '2020-03-22T12:00:00']
}
df = pd.DataFrame(data = data)
print(df.head())

     name address                birth
0    taro   kyoto  2020-01-01T12:00:00
1    jiro   osaka  2020-02-11T12:00:00
2  saburo    nara  2020-03-22T12:00:00

In [5]:
data = [
    ['taro', 'jiro', 'saburo'],
    ['kyoto', 'osaka', 'nara'],
    ['2020-01-01T12:00:00', '2020-02-11T12:00:00', '2020-03-22T12:00:00']
]
df = pd.DataFrame(data = data, index = ['name', 'address', 'birth'])
print(df.head())

                           0                    1                    2
name                    taro                 jiro               saburo
address                kyoto                osaka                 nara
birth    2020-01-01T12:00:00  2020-02-11T12:00:00  2020-03-22T12:00:00

### DataFrame作成(行)

In [6]:
data = [
    ['taro', 'kyoto','2020-01-01T12:00:00' ],
    ['jiro', 'osaka', '2020-02-11T12:00:00'],
    ['saburo', 'nara', '2020-03-22T12:00:00']
]
df = pd.DataFrame(data = data, columns = ['name', 'address', 'birth'])
print(df.head())

     name address                birth
0    taro   kyoto  2020-01-01T12:00:00
1    jiro   osaka  2020-02-11T12:00:00
2  saburo    nara  2020-03-22T12:00:00

### DataFrameから列の抽出

In [7]:
data = [
  ['taro', 'kyoto', '2020-01-01T12:00:00'],
  ['jiro', 'osaka', '2020-02-11T12:00:00'],
  ['saburo', 'nara', '2020-03-22T12:00:00']
]
df = pd.DataFrame(data = data, index = ['a', 'b', 'c'], columns = ['name', 'address', 'birth'])
print(df['a':'b'])

   name address                birth
a  taro   kyoto  2020-01-01T12:00:00
b  jiro   osaka  2020-02-11T12:00:00

### Dataframeの属性
T:転置行列  
at:  
iat  
loc  
iloc  
columns  
index  
shape  
values

### Dataframe.T 転置行列の取得

In [9]:
data = [
  ['taro', 'kyoto', '2020-01-01T12:00:00'],
  ['jiro', 'osaka', '2020-02-11T12:00:00'],
  ['saburo', 'nara', '2020-03-22T12:00:00']
]
df = pd.DataFrame(data = data, index = ['a', 'b', 'c'], columns = ['name', 'address', 'birth'])
print(df.T)

                           a                    b                    c
name                    taro                 jiro               saburo
address                kyoto                osaka                 nara
birth    2020-01-01T12:00:00  2020-02-11T12:00:00  2020-03-22T12:00:00

### Dataframe.at & Dataframe.iat 単一の値の抽出
- at : ラベル指定
- iat : 行・列番号指定（0始まり）

In [10]:
data = [
  ['taro', 'kyoto', '2020-01-01T12:00:00'],
  ['jiro', 'osaka', '2020-02-11T12:00:00'],
  ['saburo', 'nara', '2020-03-22T12:00:00']
]
df = pd.DataFrame(data = data, index = ['a', 'b', 'c'], columns = ['name', 'address', 'birth'])
print(df.at['a','address']) # kyoto

kyoto

In [11]:
data = [
  ['taro', 'kyoto', '2020-01-01T12:00:00'],
  ['jiro', 'osaka', '2020-02-11T12:00:00'],
  ['saburo', 'nara', '2020-03-22T12:00:00']
]
df = pd.DataFrame(data = data, index = ['a', 'b', 'c'], columns = ['name', 'address', 'birth'])
print(df.iat[1,2]) #2020-02-11T12:00:00

2020-02-11T12:00:00

### Dataframe.loc & Dataframe.iloc
- loc:[[行ラベル], [列ラベル]]
- iloc:[行ラベルA:行ラベルB, 列ラベルA:列ラベルB]

In [15]:
data = [
  ['taro', 'kyoto', '2020-01-01T12:00:00'],
  ['jiro', 'osaka', '2020-02-11T12:00:00'],
  ['saburo', 'nara', '2020-03-22T12:00:00']
]
df = pd.DataFrame(data = data, index = ['a', 'b', 'c'], columns = ['name', 'address', 'birth'])
# 単一行の抽出
print(df.loc[['a']])

print("=========================================")
# 複数行の抽出
print(df.loc[['a', 'b']])

print("=========================================")
# 単一列の抽出
print(df.loc[:, ['name']])

print("=========================================")
# 複数列の抽出
print(df.loc[:, ['name', 'address']])

print("=========================================")
# 行と列の組み合わせ抽出
print(df.loc[['a', 'c'], ['name', 'birth']])
print(df.loc['a':'c', ['name', 'birth']])

display(df.loc['a':'c', ['name', 'birth']])

   name address                birth
a  taro   kyoto  2020-01-01T12:00:00
=========================================
   name address                birth
a  taro   kyoto  2020-01-01T12:00:00
b  jiro   osaka  2020-02-11T12:00:00
=========================================
     name
a    taro
b    jiro
c  saburo
=========================================
     name address
a    taro   kyoto
b    jiro   osaka
c  saburo    nara
=========================================
     name                birth
a    taro  2020-01-01T12:00:00
c  saburo  2020-03-22T12:00:00
     name                birth
a    taro  2020-01-01T12:00:00
b    jiro  2020-02-11T12:00:00
c  saburo  2020-03-22T12:00:00

     name                birth
a    taro  2020-01-01T12:00:00
b    jiro  2020-02-11T12:00:00
c  saburo  2020-03-22T12:00:00

In [13]:
data = [
  ['taro', 'kyoto', '2020-01-01T12:00:00'],
  ['jiro', 'osaka', '2020-02-11T12:00:00'],
  ['saburo', 'nara', '2020-03-22T12:00:00']
]
df = pd.DataFrame(data = data, index = ['a', 'b', 'c'], columns = ['name', 'address', 'birth'])
# 単一行の抽出
df.loc[['a']]
type(df.loc[['a']]) # pandas.core.frame.DataFrame

# 単一行の抽出
df.loc['a']
print(type(df.loc['a'])) # pandas.core.series.Series

# 単一列の抽出
df.loc[:, ['name']]
print(type(df.loc[:, ['name']])) # pandas.core.frame.DataFrame

# 単一列の抽出
df.loc[:, 'name']
print(type(df.loc[:, 'name'])) # pandas.core.series.Series

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>