# [苦しみながら覚えるPandas入門[Part1]](https://qiita.com/papi_tokei/items/c0bd335c9c30065c7604)

In [1]:
import pandas as pd
import numpy as np

## Series

### Seriesの作成 辞書指定

In [2]:
sr = pd.Series({
    'taro':'kyoto',
    'jiro':'osaka',
    'saburo':'nara'
})
print(sr.head())

taro      kyoto
jiro      osaka
saburo     nara
dtype: object

### Seriesの作成(配列指定)

In [3]:
sr = pd.Series(
    ['kyoto', 'osaka', 'nara'],
    index = ['taro', 'jiro', 'saburo']
)
print(sr.head())

taro      kyoto
jiro      osaka
saburo     nara
dtype: object

## DataFrame

In [4]:
data = {
    'name':['taro', 'jiro', 'saburo'],
    'address':['kyoto', 'osaka', 'nara'],
    'birth':['2020-01-01T12:00:00', '2020-02-11T12:00:00', '2020-03-22T12:00:00']
}
df = pd.DataFrame(data = data)
print(df.head())

     name address                birth
0    taro   kyoto  2020-01-01T12:00:00
1    jiro   osaka  2020-02-11T12:00:00
2  saburo    nara  2020-03-22T12:00:00